html {
}
html,body {
	background:#AAA url(bg.jpg) top left repeat;
	font-family:Arial, Sans-Serif;
	font-size:13px;
	color:#555;
}

html,body,form,ul,ol,li,table,tr,th,td,h1,h2,h3,h4,p,img,input,textarea,select {
	margin:0px;
	padding:0px;
	border:0px;
}
ul,ol {
	padding-left:20px;
}
li,p {
	padding:2px 0px;
}
hr {
	margin:10px 0px;
	padding:0px;
	border:0px;
	border-top:1px dotted #CCC;
}
h1 {
	margin-bottom:10px;
	border-bottom:2px solid #6D0000;
	font-size:20px;
	color:#222;
}
h2 {
	padding-bottom:7px;
	font-size:18px;
	color:#222;
}
h3 {
	padding-bottom:5px;
	font-size:16px;
	color:#444;
}
h4 {
	padding-bottom:5px;
	font-size:13px;
	color:#444;
}
a {
	color:#6D0000;
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}
input[type=text], input[type=email], input[type=password], textarea, select {
	width:90%;
	padding:3px 10px;
	border:1px inset #AAA;
	background:#EEE url(input.png) top left repeat-x;
}
input[type=submit], input[type=button] {
	padding:3px 10px;
	border:1px solid #CCC;
	background:#DDD url(button.png) top left repeat-x;
	font-weight:bold;
	cursor:pointer;
}
input[type=submit] {
	background-color:#6D0000;
	border:1px outset #5D0000;
	color:white;
}
textarea {
	height:50px;
}
form table {
	width:100%;
	border-spacing:0px;
}
form table tr {
	vertical-align:top;
}
form table tr td {
	padding:2px 4px;
}

table.Zebra {
	width:100%;
	border-spacing:0px;
	background-color:#DDD;
}
table.Zebra td {
	padding:2px 4px;
}
table.Zebra tr:nth-child(2n) {
	background-color:#EEE;
}


.Float {
	float:left;
}
.Clear {
	clear:both;
}
.Sprite {
	background:url(sprite.png) top left no-repeat;
}

.Box {
	margin-bottom:10px;
	padding:4px 5px;
	border:1px dotted #EEE;
	border-radius:4px;
	background-color:#CCC;
}
.BoxOk, .BoxError {
	padding:2px 5px;
	background-color:#0A0;
	color:white;
	text-align:center;
}
.BoxError {
	background-color:#A00;
}

.Row {
	position:relative;
	display:block;
	color:#444;
	padding-left:60px;
}
.Row img {
	position:absolute;
	top:0px;
	left:0px;
}
.Row:hover {
	text-decoration:none;
}

.Shadow {
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:600px;
	background:transparent url(bg.png) top left repeat-x;
	z-index:1;
}
#cws {
	position:relative;
	width:950px;
	margin:0px auto;
	border-left:1px solid #777;
	border-right:1px solid #555;
	background-color:white;
	z-index:2;
}
#cws .Header {
	position:relative;
	height:210px;
	margin:0px 5px;
	border-top:0px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	background:url(header.jpg?v=2) top left no-repeat;
}
#cws .Header .Logo {
	position:absolute;
	top:17px;
	left:17px;
	width:452px;
	height:102px;
	background:url(qlockworks_logo.png);
}

#cws .Header .Navigation {
	position:absolute;
	left:0px;
	bottom:5px;
}
#cws .Header .Navigation a {
	margin-left:20px;
	padding:3px 10px;
	border-bottom:2px solid transparent;
	color:white;
	font-size:16px;
	display:block;
	float:left;
}
#cws .Header .Navigation a:hover {
	border-color:gold;
	text-decoration:none;
}

#cws .Header form {
	position:absolute;
	bottom:7px;
	right:15px;
}
#cws .Header form input {
	background:none;
	border:1px solid white;
	border-top:0px;
	color:white;
}
#cws .Header form input[type=text] {
	width:250px;
	border-left:4px solid white;
	border-right:0px;
}
#cws .Header form input:focus {
	background-color:rgba(0,0,0,0.2);
	outline: none;
}

#cws .Content {
	padding:10px 0px 20px 0px;
}
#cws .Content .Main {
	width:620px;
	margin-left:25px;
}
#cws .Content .Sidebar {
	width:250px;
	padding-left:50px;
}
#cws .Content .Sidebar aside {
	background:#EEE url(small.png) 170px -55px no-repeat;
	border:1px solid #CCC;
	padding:10px;
	border-radius:10px;
	margin-bottom:20px;
}
#cws .Content .Sidebar aside h1 {
	font-size:16px;
}
#cws .Content .Sidebar aside form {
	position:relative;
}
#cws .Content .Sidebar aside form p {
	padding:4px 0px;
}
#cws .Content .Sidebar aside form input[type=submit] {
	position:absolute;
	bottom:-2px;
	right:1px;
}
#cws .Content .Sidebar aside.Twitter {
	padding:0px;
	height:300px;
	overflow:hidden;
	background-image:none;
}
#cws .Footer {
	padding:10px 10px 20px 10px;
	border-top:2px solid #555;
	background:#111 url(input.png) top left repeat-x;
	color:#CCC;
}
#cws .Footer a {
	color:#CCC;
	text-decoration:none;
}
#cws .Footer a:hover {
	color:white;
}
#cws .Footer ul {
	margin-left:30px;
}
#cws .Footer ul li {
	list-style:circle;
}
#cws .Footer .Social a {
	width:32px;
	height:32px;
	margin:0px 5px;
	display:block;
	background:url(social.png) top left no-repeat;
}
#cws .Footer .Social a.Facebook {
	background-position:0px 0px;
}
#cws .Footer .Social a.Facebook:hover {
	background-position:0px -32px;
}
#cws .Footer .Social a.Twitter {
	background-position:-32px 0px;
}
#cws .Footer .Social a.Twitter:hover {
	background-position:-32px -32px;
}
#cws .Footer .Social a.Google {
	background-position:-64px 0px;
}
#cws .Footer .Social a.Google:hover {
	background-position:-64px -32px;
}
#cws .Footer .Social a.Youtube {
	background-position:-96px 0px;
}
#cws .Footer .Social a.Youtube:hover {
	background-position:-96px -32px;
}
#cws .Footer .Social a.Rss {
	background-position:-128px 0px;
}
#cws .Footer .Social a.Rss:hover {
	background-position:-128px -32px;
}



.Tagcloud {
	word-spacing:3px;
	text-align: justify;
}
.Tagcloud a {
	word-spacing:0px;
}